---
Language: Cpp
BasedOnStyle: Microsoft

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: true

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Leave

SortIncludes: Never
IncludeBlocks: Preserve

IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

Cpp11BracedListStyle: false
Standard: c++17
...
